<template>
  <div id="app">
    <nav>
      <router-link to="/" exact>Home</router-link>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>